{% extends 'base.html' %}
{% block content %}

{% if not presente.escolhido %}
<form method="POST">
    <input type="hidden" name="presente_id" value="{{ presente.id }}">
    <input type="hidden" name="action" value="escolher">
    <button type="submit" class="btn btn-dark w-100">Quero esse presente</button>
</form>
{% elif presente.escolhido_por == current_user.id %}
<form method="POST">
    <input type="hidden" name="presente_id" value="{{ presente.id }}">
    <input type="hidden" name="action" value="cancelar">
    <button type="submit" class="btn btn-danger w-100">Cancelar escolha</button>
</form>
{% else %}
<button class="btn btn-secondary w-100" disabled>Já escolhido</button>
{% endif %}



{% endblock content %}
